:root {
    --bs-primary: #0BDB42;
    --bs-primary-rgb: 11, 219, 66;
}

#ingredients-banner{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), 
    url('../images/congerdesign-vegetables-752153_1920.jpg');

    background-position: 0% 36%;
}

#top-banner{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), 
    url('../images/pexels-outdoor-dining-1846137_1920.jpg');

    background-position: 0% 50%;
}

.btn-primary {
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
}

.btn-secondary {
    --bs-btn-bg: #85AAF0;
    --bs-btn-border-color: #ACC4F2;
    --bs-btn-hover-bg: #6380b4;
    --bs-btn-hover-border-color: #8ea5ce;
    --bs-btn-active-bg: #4c628a;
    --bs-btn-active-border-color: #607599;
}

h1, .h1{
    font-size: 2.986rem;
    font-weight: bold;
}

h2, .h2{
    font-size: 2.488rem;
}

h3, .h3{
    font-size: 2.074rem;
}

body{
    font-family: "El Messiri", sans-serif;
    font-size: 20px;
}

img{
    width: 100%;
}