:root {
    --bs-primary: #0BDB42;
    --bs-primary-rgb: 11, 219, 66;
}

#ingredients-banner{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), 
    url('../images/congerdesign-vegetables-752153_1920.jpg');

    background-position: 0% 36%;
}

#top-banner{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), 
    url('../images/pexels-outdoor-dining-1846137_1920.jpg');

    background-position: 0% 50%;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

h1, .h1{
    font-size: 2.986rem;
    font-weight: bold;
}

h2, .h2{
    font-size: 2.488rem;
}

h3, .h3{
    font-size: 2.074rem;
}

body{
    font-family: "El Messiri", sans-serif;
    font-size: 20px;
}

img{
    width: 100%;
}